This repository consists of MRI scan images of brain, The data is available in KAGGLE.
The dataset can be imported in google colab with GPU enabled to train model in pytorch
The data contains 253 images with 155 Positive and 98 negative for brain tumour

Here is the Data set:
https://www.kaggle.com/navoneel/brain-mri-images-for-brain-tumor-detection?

If you need to set up kaggle in colab from the scratch, i recommend to go through this Article,
https://towardsdatascience.com/setting-up-kaggle-in-google-colab-ebb281b61463.
